button{
    width: 61px;
    height: 45px;
    color: beige;
    background-color: rgb(14, 14, 14);
}
#colnm{
    margin-top: 105px;
    border-radius: 15px;
   padding-bottom: 25px;
  
   height: 379px;
   width: 318px;
}
#btn{
    width: 126px;
    background-color: orangered;
  
}
#btnn{
    
    color: orangered;
}
#buttn{
   margin-left: 5px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 45px;
}
button{
    margin-top: 2px;
    border-radius: 9px;
    background-color:  rgb(40, 39, 39);
   box-shadow:3px 3px 1px  rgb(0, 0, 0);
   
}